<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiDuplicateItem>
        <processor type="FX.Core.Pipelines.DuplicateItem, FX.Core">
          <patch:delete></patch:delete>
        </processor>
        <!-- Undoing sitecore's patch here, since we will be merging what it is doing into our own code. While hackish, Sitecore created a configuration which broke our feature. -->
        <processor type="Sitecore.Support.Shell.Framework.Pipelines.ItemDuplicate,Sitecore.Support.107642">
          <patch:delete></patch:delete>
        </processor>
        <processor method="Execute" type="FX.Core.Pipelines.DuplicateItem, FX.Core" patch:before="processor[@type='Sitecore.Support.Shell.Framework.Pipelines.ItemDuplicate,Sitecore.Support.107642']"></processor>
      </uiDuplicateItem>
      <uiCopyItems>
        <processor type="FX.Core.Pipelines.CopyOrCloneItem, FX.Core">
          <patch:delete></patch:delete>
        </processor>
        <processor mode="on" type="FX.Core.Pipelines.CopyOrCloneItem, FX.Core" method="ProcessFieldValues" patch:after="processor[@type='Sitecore.Support.Shell.Framework.Pipelines.CopyItems,Sitecore.Support.107642']"/>
      </uiCopyItems>
    </processors>
  </sitecore>
</configuration>
