<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Alipay_PartnerId" value="2088621891276675"/>
      <setting name="Alipay_AppId" value="2016091700532816"/>
      <setting name="Alipay_Gateway" value="https://openapi.alipaydev.com/gateway.do"/>
      <setting name="Alipay_MerchantPrivateKeyRelativePath" value="key\\rsa_private_key.pem"/>
      <setting name="Alipay_AlipayPublicKeyRelativePath" value="key\\sandbox_alipay_public_key.pem"/>
      <setting name="Alipay_NotifyUrl1" value="http://cn.fx.adelphi.digital/AlipayNotify/AlipayNotify1.aspx"/>
      <setting name="Alipay_NotifyUrl2" value="http://cn.fx.adelphi.digital/AlipayNotify/AlipayNotify2.aspx"/>
      <setting name="Alipay_NotifyUrl3" value="http://cn.fx.adelphi.digital/AlipayNotify/AlipayNotify3.aspx"/>
      <setting name="Alipay_ReturnUrl" value="http://alipay.localtest.me/return_url.aspx"/>
      <setting name="Alipay_From_Email" value="noreply@fujixerox.com"/>
    </settings>
  </sitecore>
</configuration>
