@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<FX.Core.Models.Base.IPage>
<div class="modal" id="productForm">
	<div class="wingspan">
		<div class="modal-close-button">
			<a href="#"><i class="icon-cross"></i></a>
		</div>
		<div class="modal-form">
		</div>
	</div>
</div>
