@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<FX.Core.Models.Microsite.Components.MicrositeListing.IMicrositeListingComponent>

@if (this.IsInEditingMode)
{
    <h2 style="text-align:center">[Listing Component]</h2>
    if (Model == null)
    {
        <p>No component datasource found</p>
    }
}
@for (int i = 0; i < Model.ListingItems.Count(); i++)
{
    var listingItem = Model.ListingItems.ToList()[i];
    <section @(i%2==0 ? "class='bg-grey'" : "")>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="block circle-block circle-block2 circle-block-solution center-block">
                        <div class="table-display">
                            <div class="table-cell">
                                @RenderImage(listingItem, m=> m.Icon, new { @class= "img-responsive center-block" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <h3>@Editable(listingItem, m=> m.Title)</h3>
                    @Editable(listingItem, m=> m.Text)
                </div>
            </div>
        </div>
    </section>
}

