
<div class="panels column-row">
    <div class="panel-item col-sm-3">
        <a href="#">
            <div class="panel-item__image">
                <div class="overlay"></div><img src="/ffassets/fuji-xerox/images/969x686.png" alt="">
            </div>
            <div class="panel-item__text">
                <h3>Title 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </a>
    </div>
    <div class="panel-item col-sm-3">
        <a href="#">
            <div class="panel-item__image">
                <div class="overlay"></div><img src="/ffassets/fuji-xerox/images/969x686.png" alt="">
            </div>
            <div class="panel-item__text">
                <h3>Title 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </a>
    </div>
    <div class="panel-item col-sm-6">
        <a href="#">
            <div class="panel-item__image">
                <div class="overlay"></div><img src="/ffassets/fuji-xerox/images/969x686.png" alt="">
            </div>
            <div class="panel-item__text">
                <h3>Title 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </a>
    </div>
</div>