@using Sitecore.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<FX.Core.Models.Base.IPage>

<div class="main-content">
    <div class="layout-main">
        
            @Html.Sitecore().Placeholder("sectionPlaceholder")

    </div>
</div>