<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<!-- Configuration sections for indexes -->
			<indexConfigurations>
				<!-- If an index has no configuration specified, it will use the configuration below. The configuration is not merged if the index also has
             configuration, it is either this configuration or the index configuration. -->
				<defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">

						<typeMatches hint="raw:AddTypeMatch">
							<typeMatch typeName="fxString" type="System.String" fieldNameFormat="{0}_fx" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
						</typeMatches>

						<fieldNames hint="raw:AddFieldByFieldName">
							<field fieldName="metadescription" returnType="string"/>
							<field fieldName="careerlocation" returnType="string" />
							<field fieldName="specialization" returnType="string" />
							<field fieldName="jobpostingdate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" />
							<field fieldName="successstoriescountries" returnType="guidCollection" />
							<field fieldName="successstoriessolutions" returnType="guidCollection" />
							<field fieldName="successstoriesproducts" returnType="guidCollection" />
							<field fieldName="successstoriesindustries" returnType="guidCollection" />
							<field fieldName="successstoriesyear" returnType="guidCollection" />
							<field fieldName="eventlocations" returnType="guidCollection" />
							<field fieldName="eventindustries" returnType="guidCollection" />
							<field fieldName="eventyear" returnType="guidCollection" />
							<field fieldName="eventmonth" returnType="guidCollection" />
							<field fieldName="eventstartdate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" />
							<field fieldName="eventenddate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" />
							<field fieldName="eventlocation" returnType="string" />
							<field fieldName="productfeatures" returnType="guidCollection" />
							<field fieldName="productform" returnType="guid" />
							<field fieldName="productformlinktext" returnType="string" />
							<field fieldName="ispromotedproduct" returnType="bool" />
							<field fieldName="isbestsellerproduct" returnType="bool" />
							<field fieldName="related" returnType="guidCollection" />
							<field fieldName="industries" returnType="guidCollection" />
							<field fieldName="departments" returnType="guidCollection" />
							<field fieldName="services" returnType="guidCollection" />
							<field fieldName="businesstypes" returnType="guidCollection" />
							<field fieldName="articledate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" />
							<field fieldName="countries" returnType="guidCollection" />
							<field fieldName="TeaserTitle" returnType="string" />
							<field fieldName="TeaserDescription" returnType="string" />
							<field fieldName="insighttags" returnType="guidCollection"/>
							<field fieldName="insightype" returnType="string" />
						</fieldNames>
					</fieldMap>

					<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="fxsnstaxonomy" returnType="fxString">FX.Core.Search.ComputedFields.SnSTaxonomyIndexField, FX.Core</field>
							<field fieldName="fxteaserimage" targetFieldName="teaserimage" returnType="string">FX.Core.Search.ComputedFields.ImageIndexField, FX.Core</field>
							<field fieldName="fxproductlink" targetFieldName="productlink" returnType="string">FX.Core.Search.ComputedFields.ButtonLinkIndexField, FX.Core</field>
							<field fieldName="fxproductdescription" targetFieldName="productdescription" returnType="string">FX.Core.Search.ComputedFields.RawTextIndexField, FX.Core</field>
							<field fieldName="fxcomponentcontent" returnType="text">FX.Core.Search.ComputedFields.ComponentContentSearch, FX.Core</field>
							<field fieldName="parentcategory" returnType="string">FX.Core.Search.ComputedFields.ParentCategoryField, FX.Core</field>
							<field fieldName="urllink" returnType="string" homeID="{2885751E-66FA-4DD5-B3AD-F63DC93DD5C5}">FX.Core.Search.ComputedFields.ComputeItemUrl, FX.Core</field>
              <field fieldName="grandparent" returnType="id">FX.Core.Search.ComputedFields.GrandParentID, FX.Core</field>
						</fields>
					</documentOptions>

					<indexFieldStorageValueFormatter type="Sitecore.ContentSearch.SolrProvider.Converters.SolrIndexFieldStorageValueFormatter, Sitecore.ContentSearch.SolrProvider">
						<converters hint="raw:AddConverter">
							<converter handlesType="FX.Core.Search.Fields.ImageField" typeConverter="FX.Core.Search.Converters.ImageFieldValueConverter,FX.Core" />
							<converter handlesType="FX.Core.Search.Fields.ButtonLinkField" typeConverter="FX.Core.Search.Converters.ButtonLinkFieldValueConverter,FX.Core" />
							<converter handlesType="FX.Core.GlassMapper.DataHandler.LocalisedDateTimeValue" typeConverter="FX.Core.Search.Converters.LocalisedDateTimeFieldValueConverter,FX.Core" />
						</converters>
					</indexFieldStorageValueFormatter>

				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>