<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- fixes an issue with preview button not going to the correct site -->
    <settings>
      <setting name="Rendering.SiteResolvingMatchCurrentLanguage" value="false" />
    </settings>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="korea">korea</site>
            <site name="hongkong">hongkong</site>
            <site name="thailand">thailand</site>
            <site name="taiwan">taiwan</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="korea">korea</site>
            <site name="hongkong">hongkong</site>
            <site name="thailand">thailand</site>
            <site name="taiwan">taiwan</site>
          </sites>
        </handler>
        <handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache" />
      </event>
    </events>

    <sites>
      <site name="korea" patch:before="site[@name='singapore']"
            hostName="fxkr"
            targetHostName="fxkr"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/korea"
            database="master"
            domain="extranet"
			      language="ko-KR"
            allowDebug="false"
            cacheHtml="false"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="false"
            disableClientData="false"
            enableItemLanguageFallback="true"
            enableFieldLanguageFallback="true"
            formsRoot="{973F137F-DE56-40D7-8FD4-69B81D5C48E0}"
        enableTracking="true">
      </site>
      <site name="hongkong" patch:before="site[@name='singapore']"
          hostName="fxhk"
          targetHostName="fxhk"
          virtualFolder="/"
          physicalFolder="/"
          rootPath="/sitecore/content"
          startItem="/hongkong"
          database="master"
          domain="extranet"
          language="zh-HK"
          allowDebug="false"
          cacheHtml="false"
          htmlCacheSize="50MB"
          enablePreview="true"
          enableWebEdit="true"
          enableDebugger="false"
          disableClientData="false"
          enableItemLanguageFallback="true"
          enableFieldLanguageFallback="true"
          formsRoot="{973F137F-DE56-40D7-8FD4-69B81D5C48E0}"
      enableTracking="true">
      </site>
      <site name="thailand" patch:before="site[@name='singapore']"
          hostName="fxth"
          targetHostName="fxth"
          virtualFolder="/"
          physicalFolder="/"
          rootPath="/sitecore/content"
          startItem="/thailand"
          database="master"
          domain="extranet"
          language="th-TH"
          allowDebug="false"
          cacheHtml="false"
          htmlCacheSize="50MB"
          enablePreview="true"
          enableWebEdit="true"
          enableDebugger="false"
          disableClientData="false"
          enableItemLanguageFallback="true"
          enableFieldLanguageFallback="true"
          formsRoot="{973F137F-DE56-40D7-8FD4-69B81D5C48E0}"
      enableTracking="true">
      </site>
      <site name="taiwan" patch:before="site[@name='singapore']"
          hostName="fxtw"
          targetHostName="fxtw"
          virtualFolder="/"
          physicalFolder="/"
          rootPath="/sitecore/content"
          startItem="/taiwan"
          database="master"
          domain="extranet"
          language="zh-TW"
          allowDebug="false"
          cacheHtml="false"
          htmlCacheSize="50MB"
          enablePreview="true"
          enableWebEdit="true"
          enableDebugger="false"
          disableClientData="false"
          enableItemLanguageFallback="true"
          enableFieldLanguageFallback="true"
          formsRoot="{973F137F-DE56-40D7-8FD4-69B81D5C48E0}"
      enableTracking="true">
      </site>
    </sites>
    
  </sitecore>
</configuration>
