<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <sites>
      <site name="korea"
            hostName="krcontent.fx.adelphi.digital"
            targetHostName="krcontent.fx.adelphi.digital"
            formsRoot="{33BD0D91-E161-4ADF-B74F-75877EFE83FB}"
            xdt:Locator="Match(name)"
            xdt:Transform="SetAttributes">
      </site>
      <site name="hongkong"
            hostName="hkcontent.fx.adelphi.digital"
            targetHostName="hkcontent.fx.adelphi.digital"
            formsRoot="{17346127-B466-49E9-80EA-1B78164C8AB6}"
            xdt:Locator="Match(name)"
            xdt:Transform="SetAttributes">
      </site>
      <site name="thailand"
            hostName="thcontent.fx.adelphi.digital"
            targetHostName="thcontent.fx.adelphi.digital"
            formsRoot="{6BA2B481-CEB6-4E7D-9B6C-6C3777A30B88}"
            xdt:Locator="Match(name)"
            xdt:Transform="SetAttributes">
      </site>
      <site name="taiwan"
            hostName="twcontent.fx.adelphi.digital"
            targetHostName="twcontent.fx.adelphi.digital"
            formsRoot="{2843061B-A3E6-4B82-A5DA-3384C3335017}"
            xdt:Locator="Match(name)"
            xdt:Transform="SetAttributes">
      </site>
    </sites>
    <settings xdt:Transform="Insert">
      <setting name="ContentSearch.Solr.ServiceBaseAddress" value="http://localhost:8984/solr"/>
    </settings>
  </sitecore>
</configuration>