<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="china">china</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="china">china</site>
          </sites>
        </handler>
        <handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache" />
      </event>
    </events>

    <sites>
      <site name="china" patch:before="site[@name='singapore']"
            hostName="cn.fx.adelphi.digital"
            targetHostName="cn.fx.adelphi.digital"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/china"
            database="master"
            domain="extranet"
			      language="zh-CN"
            allowDebug="false"
            cacheHtml="false"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="false"
            disableClientData="false"
            enableItemLanguageFallback="true"
            enableFieldLanguageFallback="true"
            formsRoot="{A18DD21C-7332-4AB5-88F8-DCA05F734B58}"
        enableTracking="true">
      </site>
    </sites>
  </sitecore>
</configuration>
