<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <!-- Configuration sections for indexes -->
      <indexConfigurations>

        <!-- If an index has no configuration specified, it will use the configuration below. The configuration is not merged if the index also has
             configuration, it is either this configuration or the index configuration. -->
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="metadescription" returnType="string">
                <patch:delete />
              </field>
              <field fieldName="careerlocation" returnType="string" >
                <patch:delete />
              </field>
              <field fieldName="specialization" returnType="string" >
                <patch:delete />
              </field>
              <field fieldName="jobpostingdate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" >
                <patch:delete />
              </field>
              <field fieldName="successstoriescountries" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="successstoriessolutions" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="successstoriesproducts" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="successstoriesindustries" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="successstoriesyear" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="eventlocations" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="eventindustries" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="eventyear" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="eventmonth" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="eventstartdate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" >
                <patch:delete />
              </field>
              <field fieldName="eventenddate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" >
                <patch:delete />
              </field>
              <field fieldName="eventlocation" returnType="string" >
                <patch:delete />
              </field>
              <field fieldName="productfeatures" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="productform" returnType="guid" >
                <patch:delete />
              </field>
              <field fieldName="productformlinktext" returnType="string" >
                <patch:delete />
              </field>
              <field fieldName="ispromotedproduct" returnType="bool" >
                <patch:delete />
              </field>
              <field fieldName="isbestsellerproduct" returnType="bool" >
                <patch:delete />
              </field>
              <field fieldName="related" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="industries" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="departments" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="services" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="businesstypes" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="articledate" returnType="datetime" format="yyyy-MM-dd'T'HH:mm:ss'Z'" >
                <patch:delete />
              </field>
              <field fieldName="countries" returnType="guidCollection" >
                <patch:delete />
              </field>
              <field fieldName="TeaserTitle" returnType="string" >
                <patch:delete />
              </field>
              <field fieldName="TeaserDescription" returnType="string" >
                <patch:delete />
              </field>
            </fieldNames>
          </fieldMap>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>