<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="WFM.EnableBootstrapCssRendering" value="false" patch:instead="setting[@name='WFM.EnableBootstrapCssRendering']" />
    </settings>
    <events>
      <event name="item:versionAdded">
        <handler type="FX.Core.Events.PrePopulateItemHandler, FX.Core" method="OnVersionAdded" />
      </event>
      <event name="item:saved">
        <handler type="FX.Core.Events.AutoSortItemHandler, FX.Core" method="OnItemSaved">
          <templates hint="raw:AddTemplates">
            <template id="{A7B374BC-7338-4C27-AAF5-4EE74C804820}" fieldName="ArticleDate" listingId="{2F0AA7B7-2849-42FF-BFB5-DCBBA8F51B57}"></template>
          </templates>
        </handler>
      </event>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="singapore">singapore</site>
			<site name="malaysia">malaysia</site>
            <site name="myanmar">myanmar</site>
            <site name="cambodia">cambodia</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site name="singapore">singapore</site>
			<site name="malaysia">malaysia</site>
            <site name="myanmar">myanmar</site>
            <site name="cambodia">cambodia</site>
          </sites>
        </handler>
        <handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache" />
      </event>
    </events>
    <pipelines>
      <!-- 
      NOTE: The initialization for custom routing must be placed inside Sitecore.config
      Otherwise you will see this error:
      > Could not get pipeline: preprocessRequest (domain: )

      <initialize>
        <processor
          patch:before="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']"
          type="FX.Core.Pipelines.RegisterCustomRoute, FX.Core" />
      </initialize>‌-->
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="FX.Core.Pipelines.ProductListingPageResolver, FX.Core" ></processor>
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="FX.Core.Pipelines.PageRedirectOption, FX.Core" ></processor>
        <processor type="Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel" >
          <patch:attribute name="type">FX.Core.Pipelines.ExecuteRequest, FX.Core</patch:attribute>
        </processor>
      </httpRequestBegin>
    </pipelines>
    <processors>
      <uiDuplicateItem>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.DuplicateItem,Sitecore.Kernel" method="Execute">
          <patch:attribute name="type">FX.Core.Pipelines.DuplicateItem, FX.Core</patch:attribute>
          <patch:attribute name="method">Execute</patch:attribute>
        </processor>
        <processor mode="on" type="Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets" method="Execute">
          <patch:attribute name="type">FX.Core.Pipelines.DuplicateItem, FX.Core</patch:attribute>
        </processor>
      </uiDuplicateItem>

      <uiCopyItems>
        <processor mode="on" type="FX.Core.Pipelines.CopyOrCloneItem, FX.Core" method="ProcessFieldValues" />
      </uiCopyItems>

      <uiCloneItems>
        <processor mode="on" type="FX.Core.Pipelines.CopyOrCloneItem, FX.Core" method="ProcessFieldValues" />
      </uiCloneItems>
    </processors>
    <sites>
      <site name="vietnam" patch:before="site[@name='website']"
            hostName="fxvn"
            targetHostName="fxvn"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/vietnam"
            database="master"
            domain="extranet"
			      language="vi-VN"
            allowDebug="false"
            cacheHtml="false"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="false"
            disableClientData="false"
            enableItemLanguageFallback="true"
            enableFieldLanguageFallback="true"
            formsRoot="{973F137F-DE56-40D7-8FD4-69B81D5C48E0}"
        enableTracking="true">
      </site>
      <site name="malaysia" patch:before="site[@name='website']"
            hostName="fxmy"
            targetHostName="fxmy"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/malaysia"
            database="master"
            domain="extranet"
            allowDebug="false"
            cacheHtml="false"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="false"
            disableClientData="false"
            formsRoot="{660CB836-A15C-48C8-B38A-B7D02C307D31}"
        enableTracking="true">
      </site>
      <site name="myanmar" patch:before="site[@name='website']"
            hostName="fxmm"
            targetHostName="fxmm"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/myanmar"
            database="master"
            domain="extranet"
            allowDebug="false"
            cacheHtml="false"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="false"
            disableClientData="false"
            formsRoot="{AD40CA2B-78A2-465F-A6C5-E5C11CE33BE6}"
            enableTracking="true">
      </site>
      <site name="cambodia" patch:before="site[@name='website']"
			hostName="fxcam"
			targetHostName="fxcam"
			virtualFolder="/"
			physicalFolder="/"
			rootPath="/sitecore/content"
			startItem="/cambodia"
			database="master"
			domain="extranet"
			allowDebug="false"
			cacheHtml="false"
			htmlCacheSize="50MB"
			enablePreview="true"
			enableWebEdit="true"
			enableDebugger="false"
			disableClientData="false"
			formsRoot="{CC65EFAF-15E6-4A5A-8DBF-7AEF7C7A9520}"
            enableTracking="true">
      </site>
      <site name="singapore" patch:before="site[@name='website']"
            hostName="fx"
            targetHostName="*.fx"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/singapore"
            database="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="false"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            formsRoot="{9A52C79A-351A-41F3-8E53-7B0213CD44B1}"
            enableTracking="true"
            scheme="https"
      >
      </site>
	  <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>
    <cacheSizes>
      <sites>
        <fujixerox patch:before="*[1]">
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </fujixerox>
      </sites>
    </cacheSizes>

  </sitecore>
</configuration>
