@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<FX.Core.Models.Microsite.Page.IMicrositePage>
@using Sitecore.Mvc

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fuji Xerox | @Model.MetaTitle</title>
@if (!string.IsNullOrEmpty(Model.MetaDescription))
{
    <meta name="description" content="@Model.MetaDescription">
}
@if (!string.IsNullOrEmpty(Model.MetaKeywords))
{
    <meta name="description" content="@Model.MetaKeywords">
}


<!-- FAV ICON -->
<link rel="icon" type="image/png" href="/assets/microsite/img/favicon.ico">
<!-- END FAV ICON -->
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/assets/microsite/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/microsite/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/assets/microsite/css/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="/assets/microsite/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/microsite/css/custom.css">
<!-- END CSS -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/assets/microsite/css/colorbox.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/assets/microsite/js/jquery.colorbox-min.js"></script>
<script>
            jQuery(document).ready(function($){
                //Examples of how to assign the Colorbox event to elements
                $(".popup").colorbox();
                $(".iframe").colorbox({ iframe: true, width: "80%", height: "95%" });
                $(".youtube").colorbox({ iframe: true, innerWidth: 640, innerHeight: 390 });
                //Example of preserving a JavaScript event for inline calls.
                $("#click").click(function(){
                    $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
                    return false;
                });
            });
</script>
<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/themes/base/all.css" rel="stylesheet" />
<link href="/sitecore%20modules/Web/Web%20Forms%20for%20Marketers/mvc/content/Fields.css" rel="stylesheet" />
<link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/Custom.css" rel="stylesheet" />


