html {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  html {
    font-family: "UD Shin Go Hangul Regular";
  }
}

h1,
h5,
h6,
b,
strong {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

h2,
h3,
h4 {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Light";
}

.m-heading-1__title, .m-heading-5__title, .m-heading-6__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}
.m-heading-2__title, .m-heading-3__title, .m-heading-4__title {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Light";
}
.m-heading-1__title-sub {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-heading-1__title-sub {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.font-weight-bold {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}
.font-weight-regular {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .font-weight-regular {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-attention-box__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-vertical-card .m-card__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-phone-number__number {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-contact__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-context-menu__heading > [class*=__title] {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-context-menu__heading > [class*=__title] {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-related-content .m-card__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}
@media print, screen and (min-width: 768px) {
  .m-related-content .m-card__description {
    font-family: "UD Shin Go Hangul DemiBold";
    font-weight: bold;
  }
}

.m-vertical-container .m-card__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-panel-feature__title {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-panel-feature__title {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-panel-links__item-label {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-panel-links__item-label {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-feature-large__title {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-feature-large__title {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-feature-small__label {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-feature-small__label {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-feature-story__title {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-feature-story__title {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-content-header__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-picture-panel__subtitle {
  font-weight: normal;
  font-family: "UD Shin Go Hangul Regular";
}
@media print, screen and (min-width: 768px) {
  .m-picture-panel__subtitle {
    font-family: "UD Shin Go Hangul Regular";
  }
}

.m-footer-links__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-footer-sitemap__head {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-global-menu__sub-menu__contents__item__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-global-menu__sub-menu .m-link-list.-image .m-link-list__item__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-filter__result__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}

.m-filter__related__title {
  font-family: "UD Shin Go Hangul DemiBold";
  font-weight: bold;
}
